.animal-pen {
  height: 45vh;
  background-size: cover;
  background-position: center;
}

.jungle-bg {
  background-image: url(https://images.unsplash.com/photo-1541959833400-049d37f98ccd?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.river-bg {
  background-image: url(https://images.unsplash.com/photo-1704333272570-2b4b26d18888?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.ocean-bg {
  background-image: url(https://images.unsplash.com/photo-1583212292454-1fe6229603b7?q=80&w=2274&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.animal-pen>marquee {
  min-height: 100%;
}

.animal {
  font-size: 3em;
  text-shadow: 1px 1px 3px black;
  width: fit-content;
}